<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blue Bus Schedule</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><h1>Blue Bus Times</h1></a>
        </nav>

        <!--Main paragraph-->
        <p></p>
        <p>This page lets you know when the next Blue Bus is. You can also specify a time when you want to leave and get the next Blue Bus time from that.</p>

        <!--Button div for styling both the buttons. They
            can be styled individually if necessary.-->
        <!--<div style="width: 500px; height: 400px; position: absolute;"><canvas class id="canvas" width="500px" height="400px"></canvas></div>-->
        <div class="text-center">
            <div class = "btn-group">
        	   <button class=option-toHaverford><span>To Haverford </span></button>
        	   <button class=option-toBrynMawr><span>To Bryn Mawr </span></button>
            </div>
        </div>
        <p>
        <!--This paragraph element changes according to button press-->
        <p id=toDestination>The next buses will appear here!</p>
	
        <p>
        <p>Looking for a specific time to be at the bus stop?</p>
        <div class="select-time">
            <select id="day">
                <option>day</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
            </select>
            <select id="hour">
                <option>hour</option>
                <option>12</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
            </select>
            <select id="minute">
                <option>minute</option>
                <option>0</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
            </select>
            <select id="ampm">
                <option>AM/PM</option>
                <option>AM</option>
                <option>PM</option>
            </select>
        </div>
        <br>
        <div style="text-align: center">
            <button id="calculate-time">Find out when the Bus leaves!</button>
        </div>
        <p id="future-times">
        <!--scripts!-->
        <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/toHaverford.js"></script>
        <script src="../static/js/toBrynMawr.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
