<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blue Bus Schedule</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/css/clock.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!--<div class="header"><h1>Blue Bus Schedule</h1></div>-->

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="http://www.haverford.edu">Haverford College</a>
            <a href="http://www.brynmawr.edu">Bryn Mawr College</a>
        </div>

        <header class="header-basic-light">

	        <div>
                <button style="font-size:30px;cursor:pointer;float:left; color: #fff0be;
                border: none; background-color: Transparent;margin-top: 15px" onclick="openNav()">&#9776;</button>

		        <h1 class="header-h1">Bi-Co Blue Blus Schedule</h1>

	        </div>

        </header>


        <!--Main paragraph-->
        <p>This page lets you know when the next Blue Bus is. You can also specify a time when you want to leave and get the next Blue Bus time from that.</p>

        <!--Button div for styling both the buttons. They
            can be styled individually if necessary.-->
        <canvas class id="canvas" width="500" height="500" ></canvas>
        <div class = "btn-group">
        	<button class=option-toHaverford><span>To Haverford </span></button>
        	<button class=option-toBrynMawr><span>To Bryn Mawr </span></button>
        </div>

        <!--This paragraph element changes according to button press-->
        <p id=toDestination>What are the times?</p>
	

        <!--scripts!-->
        <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/toHaverford.js"></script>
        <script src="../static/js/toBrynMawr.js"></script>
        <script src="../static/js/clock.js"></script>


        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
            document.getElementById("main").style.marginLeft = "300px";
            document.body.style.backgroundColor = "rgba(162, 0, 0, 1)";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
            }
        </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
